In [2]:
#assignment 
# generate a sales data for january through decenber for 28 days 
# the sales range from 1000000 to 10000000
# for each day calculate the sales across all the month

In [2]:
#day 18 pandasone


import numpy as np
import pandas as pd

In [16]:
DAYS = 28
SALES_MIN = 1_000_000
SALES_MAX = 10_000_000
MONTHS = [ 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
sitno = np.arange(1,29)
np.random.seed(5)
score = np.random.randint(1000000,10000000,336)
score = score.reshape(28, 12)
df =pd.DataFrame(data =score, index= sitno, columns=MONTHS)
df

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1,3115790,2956982,3758032,1558088,2214875,1950159,5386791,1683088,2515725,9847051,5427183,7553118
2,3787284,5422742,1740989,9194194,2021290,8356457,7023041,1833746,7277072,8670894,7658724,5218729
3,4027714,4928388,4732585,4604435,7144147,6677330,3683761,3952813,5186302,8053067,6366147,8854683
4,6519438,8772059,8368605,3347861,4756423,6808656,6132302,4171290,7856479,5294921,9619558,3178863
5,7291600,6293445,8229858,6681560,1697741,3388342,2953003,8592680,5663327,3526240,9928428,8131013
6,6347726,1307294,9188754,2090695,8075030,5681992,6242924,4871358,9330699,3542469,7531817,2944470
7,3744500,8187269,2515196,1581848,4354849,2552860,6015366,6605923,7134271,5042400,3286802,6272303
8,1097426,7307124,1271697,8728150,5984914,3562217,8217930,1711199,1005391,2799036,2371670,3794566
9,6945737,2425471,2375838,8454990,2330882,8630202,4683464,6563387,9580729,4694228,8404347,6271510
10,2027068,4271880,9677024,3664079,9296995,1399460,1072578,3612187,3855639,3171135,9978689,7166423
11,1574038,9553368,4037888,9909901,3955529,5872512,2347751,6258105,2724100,6525969,8328837,8272356
12,9520594,1820254,5394573,2693281,6837682,8861027,2675009,2368146,8389417,5147840,7452849,9836002
13,3254030,1320947,3879902,1038341,4869690,2829625,1951513,1137974,8266142,2459313,1753052,3885512
14,6273742,1656671,3846341,8459753,2589459,7386972,7988235,5667888,5623287,9679171,1738306,8309504
15,6427107,7137207,8597605,8336961,6324190,7717087,3943581,1399611,4945735,4212110,2175293,3584538
16,1216551,1874038,9114591,9212494,5648554,9407765,6654340,3111328,9480835,9812272,6921950,8578522
17,7323261,7662484,3620596,5745290,1555006,3333833,6557486,8990075,5860694,1146512,8950844,8406823
18,1974431,6495011,1431662,1583981,6910611,1164275,8209685,9075024,3735968,3742682,1804510,5095197
19,1690290,1313166,5850402,9378120,7783161,2501265,8613608,2415995,4488314,3902278,6920887,7767286
20,6258746,3531502,1526204,8190917,7655217,8140781,7965327,2028248,4606796,2586705,4427851,8703928
21,1885997,3810394,9952112,6557512,5245543,6542828,4749700,8190878,4560351,4290778,2644541,5846688
22,8592717,5192749,9250550,5163923,5421514,4777697,1099045,4129953,8286464,3276260,1221756,4745792
23,4864904,4936755,9223749,3419101,4026111,2341751,9208844,2008877,1052742,6534677,1444334,3872890
24,5491906,4459295,8297100,6749670,1450225,5964623,1135894,4882544,4322770,3545589,9142446,6416722
25,4225764,3125891,9919049,5325498,5283080,7020586,8667537,5522304,9680345,2605820,4719881,4849065
26,8620549,6070841,2421187,1526686,6661422,4698093,3177606,4676141,7973882,8420852,6225283,4132903
27,5057409,3066169,2336597,1531080,7664953,7249933,3061410,9579860,1793325,8017657,5087733,2624160
28,4708161,2307098,2035342,1400729,9612293,6706726,1662313,4246031,8047206,2849295,4760721,5644508

In [22]:
np.random.seed(5)
sales_value = np.random.randint(1000000,10000000,336).reshape(28,12)
df = pd.DataFrame(data=sales-, index=sitno, columns=cols)
df

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,TOTAL_SALES
1,3115790,2956982,3758032,1558088,2214875,1950159,5386791,1683088,2515725,9847051,5427183,7553118,47966882
2,3787284,5422742,1740989,9194194,2021290,8356457,7023041,1833746,7277072,8670894,7658724,5218729,68205162
3,4027714,4928388,4732585,4604435,7144147,6677330,3683761,3952813,5186302,8053067,6366147,8854683,68211372
4,6519438,8772059,8368605,3347861,4756423,6808656,6132302,4171290,7856479,5294921,9619558,3178863,74826455
5,7291600,6293445,8229858,6681560,1697741,3388342,2953003,8592680,5663327,3526240,9928428,8131013,72377237
6,6347726,1307294,9188754,2090695,8075030,5681992,6242924,4871358,9330699,3542469,7531817,2944470,67155228
7,3744500,8187269,2515196,1581848,4354849,2552860,6015366,6605923,7134271,5042400,3286802,6272303,57293587
8,1097426,7307124,1271697,8728150,5984914,3562217,8217930,1711199,1005391,2799036,2371670,3794566,47851320
9,6945737,2425471,2375838,8454990,2330882,8630202,4683464,6563387,9580729,4694228,8404347,6271510,71360785
10,2027068,4271880,9677024,3664079,9296995,1399460,1072578,3612187,3855639,3171135,9978689,7166423,59193157
11,1574038,9553368,4037888,9909901,3955529,5872512,2347751,6258105,2724100,6525969,8328837,8272356,69360354
12,9520594,1820254,5394573,2693281,6837682,8861027,2675009,2368146,8389417,5147840,7452849,9836002,70996674
13,3254030,1320947,3879902,1038341,4869690,2829625,1951513,1137974,8266142,2459313,1753052,3885512,36646041
14,6273742,1656671,3846341,8459753,2589459,7386972,7988235,5667888,5623287,9679171,1738306,8309504,69219329
15,6427107,7137207,8597605,8336961,6324190,7717087,3943581,1399611,4945735,4212110,2175293,3584538,64801025
16,1216551,1874038,9114591,9212494,5648554,9407765,6654340,3111328,9480835,9812272,6921950,8578522,81033240
17,7323261,7662484,3620596,5745290,1555006,3333833,6557486,8990075,5860694,1146512,8950844,8406823,69152904
18,1974431,6495011,1431662,1583981,6910611,1164275,8209685,9075024,3735968,3742682,1804510,5095197,51223037
19,1690290,1313166,5850402,9378120,7783161,2501265,8613608,2415995,4488314,3902278,6920887,7767286,62624772
20,6258746,3531502,1526204,8190917,7655217,8140781,7965327,2028248,4606796,2586705,4427851,8703928,65622222
21,1885997,3810394,9952112,6557512,5245543,6542828,4749700,8190878,4560351,4290778,2644541,5846688,64277322
22,8592717,5192749,9250550,5163923,5421514,4777697,1099045,4129953,8286464,3276260,1221756,4745792,61158420
23,4864904,4936755,9223749,3419101,4026111,2341751,9208844,2008877,1052742,6534677,1444334,3872890,52934735
24,5491906,4459295,8297100,6749670,1450225,5964623,1135894,4882544,4322770,3545589,9142446,6416722,61858784
25,4225764,3125891,9919049,5325498,5283080,7020586,8667537,5522304,9680345,2605820,4719881,4849065,70944820
26,8620549,6070841,2421187,1526686,6661422,4698093,3177606,4676141,7973882,8420852,6225283,4132903,64605445
27,5057409,3066169,2336597,1531080,7664953,7249933,3061410,9579860,1793325,8017657,5087733,2624160,57070286
28,4708161,2307098,2035342,1400729,9612293,6706726,1662313,4246031,8047206,2849295,4760721,5644508,53980423